<div class="alert alert-info" style="margin-top: 20px; margin-bottom: 20px;">
  <h3>Matrix Output</h3>
  <p>Override this message by placing a file in the host application at: <code>app/views/blazer/queries/_matrix.html.erb</code></p>
</div>